body{
    margin: 0;
    height: 200vh;
    background: url("neural2.gif")no-repeat center center fixed;
    background-size: 100%;
    backdrop-filter: blur(3px);
}

.sec-nav{
    height:40px;
    width:100%;
    overflow:hidden;
    background-color:rgb(0, 0, 0);
    top:0;
    position:sticky;
    text-align: center;
    z-index: 100;
  }
  
.sec-nav a{
    font-family: 'Lexend Deca', sans-serif;
      font-size: 20px;
      color:white;
      text-align: center;
      padding: 20px 22px;
      text-decoration: none;
  }
  
.sec-nav a:hover{
    color: rgb(255, 128, 9);
}

.form-container{
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(33, 0, 94, 0.85), rgba(80, 9, 56, 0.85));
    border-bottom: 1px solid gray;
}

.contact-form{
    padding-left: 175px;
    padding-top: 10px;
    height: 93vh;
    font-family: 'Lexend Deca',sans-serif;
    font-size: 30px;
    color: white;
    width: 50%;
    margin: 0 auto;
    overflow-x: hidden;
}

.contact-form input{
    border-radius: 7px;
    width: 450px;
    height: 30px;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    padding-left: 15px;
}

input:hover{
    transition: 0.3s;
    border: 2px solid rgb(253, 81, 1);
}

textarea{
    border-radius: 7px;
    width: 450px;
    height: 90px;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    padding-left: 15px;
}

textarea:hover{
    transition: 0.3s;
    border: 2px solid rgb(253, 81, 1);
}

.submit{
    background-color: transparent;
    height: 45px;
    width: 200px;
    font-family: 'Lexend Deca', sans-serif;
    border: 3px solid white;
    margin-left: 135px;
    border-radius: 50px;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
    font-size: 20px;
    outline: none;
}

.submit:hover{
    background-color: rgb(83, 45, 255);
    transition: 0.3s;
}

.guj-map{
    width: 100%;
    height: 100vh;
    border-bottom:  1px solid rgb(255, 255, 255);
    background-image: linear-gradient(to bottom, rgba(255, 81, 0, 0.719), rgba(255, 255, 255, 0.349), rgba(0, 90, 41, 0.753)), url("in-wave.gif");
    text-align: center;
    background-size: 100%;
}

.turk-map{
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(100, 12, 0, 0.733), rgba(180, 39, 39, 0.39), rgba(61, 7, 0, 0.733)), url("turk-wave.gif");
    background-size: 100%;   
}

iframe{
    border-radius: 20px;
    margin: 0 auto;
    display: block;
}

iframe:hover{
    border-radius: 10px;
    transition: 0.3s;
}



