body{
  margin: 0;
}

.sec-nav{
  height:40px;
  width:100%;
  overflow:hidden;
  background-color:rgb(0, 0, 0);
  top:0;
  position:sticky;
  text-align: center;
  z-index: 100;
}

.sec-nav a{
  font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    color:white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
}

.sec-nav a:hover{
  color: rgb(255, 128, 9);
}

.resume{
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(3, 142, 255, 0.712), black), url("serverraum-v02.gif");
  background-size:100%;
}
