body,html{
  margin: 0;
  scroll-behavior: smooth;   
}


.intro{
  height: 100vh;
  width: 100%;
  background:linear-gradient(to bottom, rgba(126, 57, 11, 0.5), rgba(0,11, 41, 0.95)),url("https://media.giphy.com/media/S3V4ynVkHA5ZdmAXEP/giphy.gif")no-repeat center center fixed;
  background-size: 100%;
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  color: white;
  
}

.intro h1{
  font-family: 'Lexend Deca', sans-serif;
  color: white;
  font-size: 100px;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.747);
  cursor: pointer;
}

.intro h1:hover{
  text-shadow: 5px 5px rgb(18, 173, 43), -5px -5px rgb(252, 101, 0);
  transition: 0.5s;
}



h1:hover span{
  color: rgb(38, 162, 245);
  text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.801);
  transition: 0.5s;
}

.sec-nav{
  height:40px;
  width:100%;
  overflow:hidden;
  background-color:rgb(0, 0, 0);
  top:0;
  position:sticky;
  text-align: center;
  z-index: 100;
}

.sec-nav a{
  font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    color:white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
}

.sec-nav a:hover{
  color: rgb(255, 128, 9);
}

.about{
  width: 100%;
  margin: auto;
  height: 300vh;
}

.us{
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(to bottom, rgba(0,11, 41, 0.95), rgba(49, 0, 45, 0.9)), url("neural.gif");
  background-size: 100%;
  border-bottom: 1px solid rgb(117, 117, 117);
}


.digi-india{
  padding-left: 60px;
  padding-top: 10px;
  filter: grayscale(100%);
}

.digi-india:hover{
  filter: none;
  cursor: pointer;
  transition: 0.3s;
}

.gov-india{
  filter: invert(50%);
}

.gov-india:hover{
  filter: invert(100%);
  transition: 0.3s;
}

.dst{
  filter: grayscale(100%);
}

.dst:hover{
  filter: none;
  transition: 0.3s;
}

.turk-tech{
  padding-left: 60px;
  padding-top: 50px;
  filter: grayscale(100%);
}

.turk-tech:hover{
  filter: none;
  transition: 0.3s;
}

.about2{
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(to bottom, rgba(49, 0, 45, 0.9), rgba(0, 41, 27, 0.9)), url("https://media.giphy.com/media/QKWb49EBsGpDXdwt41/giphy.gif");
  background-size: 100%;
  border-bottom: 1px solid rgb(117, 117, 117);
}

.about3{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 11, 41, 0.842), rgba(110, 3, 58, 0.815)), url("https://media.giphy.com/media/l3q2RgN7WUjeUUXm0/giphy.gif");
  background-size: 100%;
}




